@font-face {
  font-family: mainFont;
  src: url("../assets/Cervo-Thin.otf");
}

[v-cloak] {display: none}

body {
  font-family: "mainFont", sans-serif;
  margin: 0;
  background-color: #A8D0E6;
}

.container {
  text-align: center;
}

.container .title {
  color: white;
  font: 30px;
  font-weight: 400;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
