@font-face {
  font-family: mainFont;
  src: url("../assets/Cervo-Thin.otf");
}

[v-cloak] {
  display: none;
}

body {
  font-family: "mainFont", sans-serif;
  margin: 0;
  overflow: hidden;
}

.appContainer {
  background-color: #F1F1F2;
  height: 100vh;
  width: 100vw;
  border-radius: 6px;
  text-align: center;
  box-shadow: 12px 12px 6px -6px rgba(0, 0, 0, 0.4);
}

.appDragBar {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 5vh;

  display: flex;
  justify-content: flex-end;

  -webkit-app-region: drag;
}

.windowControls {
  -webkit-app-region: no-drag;

  margin-top: 0.5vh;
  margin-left: 1vw;
  margin-right: 1vw;

  width: 1em;
  height: 1em;
}

.appContainer .windowControls svg:hover {
  stroke: #A1D6E2;
}

.container {
  text-align: center;
}

.container .title {
  color: #1995AD;
  font: 30px;
  font-weight: 400;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
