.nav ul {
    width: 95%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

    text-align: center;
}

.nav hr {
    border-radius: 7px;
    border: 0px solid #1995AD;
    height: 1px;
    background: #1995AD;
    width: 88%;

    margin-top: -7px;
}

.nav li {
    display: inline-block;
    width: 18%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
}

.nav p {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    color: #1995AD;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 1px;
    text-decoration: none;
    cursor: pointer;

    transition: 0.5s;
}

.nav p::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.3px;
    top: 100%;
    left: 0;
    background: #1995AD;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}
.nav p:hover {
    color: #A1D6E2;
}
.nav p:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}