:root {
  --backgroundColor: #f1f1f2;
  --primary: #1995ad;
  --secondary: #a1d6e2;
  --onHover: rgba(161, 214, 226, 0.6);
  --overlayColor: rgba(255, 255, 255, 0.7);
}

[data-theme='dark'] {
  --backgroundColor: #04202c;
  --primary: #5b7065;
  --secondary: #304040;
  --onHover: #3a4242;
  --overlayColor: rgba(0, 0, 0, 0.5);
}
