@import './colors.css';

.imageConfig-button {
    appearance: none;
    outline: 0;
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 10px 11px;
    border-radius: 4px;
    width: 250px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.25s;

    margin-top: 18px;
}
.imageConfig-button:hover {
  background-color: var(--onHover);
  color: var(--backgroundColor);
}

.imageConfig-input {
  width: 92%;
  outline: 0;
  background-color: transparent;
  width: 310px;

  border-radius: 4px;
  border: 2px var(--primary) solid;
  padding: 10px 15px;
  margin: 0 auto 15px auto;

  font-size: 20px;

  color: var(--primary);

  transition-duration: 0.25s;
  font-weight: 300;
}
.imageConfig-input:focus {
  width: 350px;
}
.imageConfig-input:focus::placeholder {
  color: transparent;
}

.imageConfig-label {
  font-size: 22px;
  color: var(--primary);
  width: 8%;
  margin-left: -3vw;
}

.errorMessage {
  color: var(--primary);
}
