@font-face {
  font-family: mainFont;
  src: url("../assets/Cervo-Thin.otf");
}

@import "./colors.css";

body {
  font-family: "mainFont", sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

.appContainer {
  background-color: var(--backgroundColor);
  height: 100vh;
  width: 100vw;
  border-radius: 0.375rem;
  text-align: center;
  box-shadow: 0.75rem 0.75rem 0.375rem -0.375rem rgba(0, 0, 0, 0.4);

  transition: 200ms ease-in-out;
}

.appDragBar {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  height: 5vh;

  display: flex;
  justify-content: flex-end;

  -webkit-app-region: drag;

  z-index: 3;
}

.windowControls {
  -webkit-app-region: no-drag;

  margin-top: 0.5vh;
  margin-left: 1vw;
  margin-right: 1vw;

  width: 1em;
  height: 1em;

  z-index: 4;
}

.appContainer .windowControls svg {
  stroke: var(--primary);
}

.appContainer .windowControls svg:hover {
  stroke: var(--secondary);
}

.container {
  text-align: center;
}

.container .title {
  color: var(--primary);
  font-size: 30px;
  font-weight: 400;

  margin-bottom: 7vh;
}

.container .title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 17%;
  padding-top: 5px;
  border-bottom: 1px solid var(--primary);
}

.container .titleSecondary {
  color: var(--primary);
  font: 22px;
  font-weight: 400;
}

.transitionDiv {
  animation-duration: 400ms;
}

@keyframes fadeInView {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOutView {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeInView {
  opacity: 1;
  animation-name: fadeInView;
}

.fadeOutView {
  opacity: 0;
  animation-name: fadeOutView;
}
