.status {
  color: var(--primary);
  margin-top: 2vh;
  font-size: 24px;
  font-weight: "400";
}

.fadeOutStatus {
  opacity: 0;
  transition: opacity 0.5s;
}
.fadeInStatus {
  opacity: 1;
  transition: opacity 0.5s;
}
