<div class="nav">
  <ul>
    <li id="setFileServer">Set File Server</li>
    <li id="vulnConfig">Configure Vulnerabilities</li>
    <li id="imageConfig">Image Config</li>
    <li id="releasePage">Release</li>
  </ul>
</div>
