<div class="nav">
  <ul>
    <li id="setFileServer"><p>File Server</p></li>
    <li id="vulnConfig"><p>Vulnerabilities</p></li>
    <li id="imageConfig"><p>Image Configs</p></li>
    <li id="releasePage"><p>Release Image</p></li>
    <li id="settings"><p>Settings</p></li>
  </ul>
  <hr>
</div>
