<div>
  <h1 class="title">Set File Server</h1>

  <input v-model="fileServerData.fileServerURL" class="input-server" placeholder="File Server" id="serverUrl" type=text>
  <br>
  <input v-model="fileServerData.fileServerPassword" class="input-server" placeholder="Password" type=password>
  <br>
  <button class="server-button" type="submit" id="setServer">Get Aeacus</button>
  <h3 id="status" style="color: red; font-weight: 400;"></h3>

</div>
