<div>
    <h1 class="title">Settings</h1>

    <h2 class="titleSecondary">Dark Theme Toggle</h2>
    <label class="switch" id="themeToggle">
        <input type="checkbox">
        <div>
            <span></span>
        </div>
    </label>
</div>